@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

// Colors
$main-background-color: #000;
$main-font-color: #fff;
//$title-font-color: #ef4657;

// Fonts
$main-font-family: 'Open Sans', sans-serif;

body {
    background: url('../public/images/background.jpg') no-repeat center center fixed;
    background-color: $main-background-color;
    color: $main-font-color;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.App {
    font-family: $main-font-family;
}

.main-content {
    h1, h2, h3, h4 {
        color: #000;
    }

    h1 {
        font-size: 50px;
        margin: 40px 40px 10px;
    }

    h2 {
        font-size: 25px;
        margin: 0 40px;
    }
}